
clean:
    # nothing to be done

build:
    # nothing to be done

install:
    # nothing to be done

binary:
    # nothing to be done

binary-arch:
    # nothing to be done

binary-indep:
    # nothing to be done

get-orig-source:
    # nothing to be done

